:root
  --color alpha(#000, 0.87)
  --color-secondary alpha(#000, 0.6)
  --color-tertiary alpha(#000, 0.4)
  --hover alpha(#000, 0.04)
  --active alpha(#FFF, 0.25)
  --background #F7F8FB
  --background-transparent #F7F8FB99
  --item-background alpha(#FFF, 0.8)
  --item-background-hover alpha(#FFF, 0.97)
  --stroke alpha(#000, 0.05)
  --horizontal-line alpha(#000, 0.1)
@media (prefers-color-scheme: dark)
  :root
    --color alpha(#FFF, 0.87)
    --color-secondary alpha(#FFF, 0.6)
    --color-tertiary alpha(#FFF, 0.4)
    --hover alpha(#FFF, 0.04)
    --active alpha(#000, 0.1)
    --background #1D1E1F
    --background-transparent #1D1E1F1A
    --item-background alpha(#FFF, 0.05)
    --item-background-hover alpha(#FFF, 0.15)
    --stroke alpha(#FFF, 0.05)
    --horizontal-line alpha(#FFF, 0.1)

@font-face 
  font-family: InterVariable
  src: url(../fonts/InterVariable.woff2) format("woff2")
  font-style: normal

@font-face
  font-family: InterVariable
  src: url(../fonts/InterVariable-Italic.woff2) format("woff2")
  font-style: italic

@font-face
  font-family: MiSans
  src: url(../fonts/MiSans-Normal.woff2) format("woff2")
  font-style: normal
  font-weight: normal

@font-face
  font-family: MiSans
  src: url(../fonts/MiSans-Bold.woff2) format("woff2")
  font-style: normal
  font-weight: bold

@font-face
  font-family: MiSans
  src: url(../fonts/MiSans-Demibold.woff2) format("woff2")
  font-style: normal
  font-weight: 500



body
  margin 0
  line-height: 1.5em
  //overflow-y: hidden
  color: var(--color)
  background-color: var(--background)
  font-family: InterVariable, MiSans, system-ui, -apple-system, BlinkMacSystemFont, sans-serif

p
  text-indent:2em

h1 
  font-size: 2em
  font-weight: 400
  line-height: 1.25em
  margin: 0
  padding: 0

h2
  font-size: 2em
  line-height: 1.5em
  font-weight: 400
  margin: 0
  padding-block-start: 1em
  padding-block-end: 0em

h3
  font-size: 1.5em
  line-height: 1.5em
  font-weight: 500
  margin: 0
  padding-block: 0.5em

h4
  font-size: 1.25em
  font-weight: 500
  margin: 0
  padding-block: 0.5em

h5
  font-size: 1em
  line-height: 2em
  font-weight: 700
  margin: 0
  padding: 0

h6
  font-size: 0.875em
  line-height: 2em
  font-weight: 700
  margin: 0
  padding: 0

strong
  font-weight: 700
  color: var(--color)

a
  color: var(--color)
  &:hover
    color: var(--color-secondary)

hr
  border: none
  border-top: 1.5px solid var(--horizontal-line)
  margin: 0
  padding: 0

blockquote
  background: var(--hover)
  padding-inline-start: 2em
  padding-inline-end: 2em
  padding-block-start: 0.1px
  padding-block-end: 0.1px
  border-radius: 8px
  -webkit-border-radius: 8
  -moz-border-radius: 8
  margin: 0
  color: var(--color-secondary)

figure
  margin: 0
  padding: 0

p img
  max-width: 100%
  height: auto
  max-height: calc(100vh - 48px - var(--scrollbar-height))
  border-radius: 8px
  -webkit-border-radius: 8
  -moz-border-radius: 8
  margin: 0
  display: block

blockquote footer
  text-align: right
  padding-block: 1em
  width 100%

blockquote footer strong
  font-weight: 500
  color: var(--color)

blockquote footer cite
  font-style: normal
  font-weight: 500
  padding-inline-start: 0.5em
  color: var(--color-secondary)

blockquote footer cite a
  color: var(--color-secondary)
  &:hover
    color: var(--color)
  line-break: anywhere


.text-meta
  font-size: 1em
  line-height: 1.25em
  font-weight: 500
  

.post-tag
  color: var(--color-tertiary)
  text-decoration: none
  &:hover
    text-decoration: underline
    color: var(--color-secondary)
  font-weight: 500

.post-tag-separator
  color: var(--color-tertiary)
  font-weight: 500
  user-select: none
  -webkit-user-select: none

.excerpt
  color: var(--color-secondary)

.page-foot
  color: var(--color)
  font-weight: 500
  height:calc(100% - var(--scrollbar-height))
  break-inside:avoid
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding-left: 64px

.first-space
  height: 15vh



.material-symbols-outlined 
  //color: var(--color-secondary)
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  user-select: none
  -webkit-user-select: none



.header-outer
  position: fixed
  top: 0
  left: 0
  width 256px
  height: 100%
  z-index: 100
  background-color: var(--background-transparent)
  box-sizing: border-box
  backdrop-filter: blur(64px)

.header-inner
  padding: 36px
  display: flex
  flex-direction: column
  justify-content: space-between
  height: calc(100% - 72px)

.logo
  margin-top: 28px
  user-select: none
  -webkit-user-select: none
  text-decoration: none
  border-radius: 8px
  -webkit-border-radius: 8
  -moz-border-radius: 8

.icon-button
  display: flex
  justify-content: center
  align-items: center
  width: 48px
  height: 48px
  margin-top: 12px
  cursor: pointer
  background: alpha(#fff, 0)
  text-decoration: none
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  color: var(--color-secondary)
  &:hover
    background: var(--hover)
    color: var(--color)
  &:active
    background: var(--active)
  &:focus
    box-shadow: inset 0 0 0 2px var(--color)
  border-radius: 8px
  -webkit-border-radius: 8
  -moz-border-radius: 8
  border: none
  outline: none

.content
  padding: 24px
  height: calc(100vh - 48px - var(--scrollbar-height))
  display: flex
  flex-direction: row

.spacer
  height: 100%
  padding-left: calc(256px + 15%)

.recent-posts
  display: flex
  flex-direction: row

.recent-post-item-meta
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.recent-post-item
  text-decoration: none
  color: var(--color)
  margin-right: 24px
  background: var(--item-background)
  width 512px
  border-radius: 24px
  -webkit-border-radius: 24
  -moz-border-radius: 24
  padding: 16px
  box-shadow: inset 0 0 0 1px var(--stroke), 0 0 16px alpha(#000, 0.01), 0 4px 8px alpha(#000, 0.01)
  &:hover
    color: var(--color)
    background: var(--item-background-hover)
    box-shadow: inset 0 0 0 1px var(--stroke), 0 0 48px alpha(#000, 0.02), 0 4px 32px alpha(#000, 0.02)
  display: flex
  flex-direction: column
  justify-content: space-between
  & h2
    margin: 0
    padding: 0

.recent-post-item-text
  margin-left: 8px
  margin-right: 8px

.small-icon
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-variation-settings: 'OPSZ' 20;
  

.post
  columns 24em auto
  gap: 64px
  height: 100%
  margin-right: 24px
  orphans: 2

.post-content
  width: 24em
  display: flex
  flex-direction: column
  justify-content: space-between
  orphans: 2
  
